@import 'setup';
@import 'variables';

.wrapper {

}
body {
	background: $blue;
}

.wrapper {
	max-width: 900px;
	width: 95%;
	margin: 0 auto;
}

h1 {
	font-family: $hfont;
	font-size: 4.6rem;
	line-height: 4.6rem;
	text-align: center;
	color: white;
	background-image: url(../../images/underline.svg);
	background-repeat: repeat-x;
	background-size: 6%;
	background-position: 100%;
	display: inline;
	padding-bottom: 5.5rem;
}

h2 { 
	font-family: $hfont;
	font-size: 2.8rem;
	line-height: 2.8rem;
	text-align: left;
	color: white;
	margin-bottom: 1rem;
	margin-top: 0;

	a:hover {
		background-image: url(../../images/underline.svg);
		background-repeat: repeat-x;
		background-size: 6%;
		background-position: 100%;
		display: inline;
		padding-bottom: 3rem;
	}
}

p {
	color: white;
	font-family: $pfont;
	font-size: 1.1rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 3rem auto;
}

.intro-text {
	text-align: center;
	margin: 3rem auto;
}

#vmap {
	width: 95vw;
	height: 90vh;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
}

.alert {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: $orange;
	color: white;
	width: 25%;
	text-align: center;
	margin-bottom: 5%;
	padding: 2%;
}

.results {
	// display: none;
}

footer {
	text-align: center;
	border-top: 1px solid white;
	margin-top: 100px;

	h6 {
		font-family: $pfont;
		font-size: 0.65rem;
		font-weight: 300;
		letter-spacing: 0.5px;
		color: white;

		a {
			color: white;

			&:hover, &:focus {
				color: $yellow;
			}
		}
	}
}


//form styling starts here
form {
	text-align: center;

	select {
	-webkit-appearance: none;
	-moz-appearance: none;
		font-family: $pfont;
		color: white;
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 1.1rem;
		padding: 10px 40px 10px 20px;
		border: 1px solid white;
		background: none;
		border-radius: 0;
		background-image: url('../../images/downarrow.svg');
		background-repeat: no-repeat;
		background-position: 96% 50%;
		background-size: 8%;
	}

	input[type=submit]{
		border: none;
		background: $yellow;
		padding: 15px 30px;
		border-radius: 18px;
		font-family: $pfont;
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: white;
		display: block;
		margin: 40px auto;
		transition: 0.2s;

		&:hover {
			background: $orange;
			opacity: 1;
		}
	}
}


//results Section starts here

#cityData {

	width: 100%;

	.countryBox {
		border: 1px solid white;
		display: flex;
		width: 100%;
		height: 340px;
		margin-bottom: 40px;
	}

	.contentBox {
		width: 70%;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			background: $orange;
			padding: 6px 10px;
			margin: 4px;
			display: inline-block;
		}
	}

	.imgBox {
		width: 340px;
		height: auto;
		overflow: hidden;

		img {
			height: 100%;
			object-fit:cover;
			position:0 50%;
		}
	}

}

.startOver {
		border: none;
		background: $yellow;
		padding: 15px 30px;
		border-radius: 18px;
		font-family: $pfont;
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: white;
		margin: 40px auto;
		transition: 0.2s;
		text-decoration: none;
		display: block;


		&:hover {
			background: $orange;
			opacity: 1;
	}
}



