@import 'setup';
@import 'variables';

body {
	background: $blue;
}

.wrapper {
	max-width: 900px;
	width: 95%;
	margin: 0 auto;
}

h1 {
	font-family: $hfont;
	font-size: 4.6rem;
	line-height: 4.6rem;
	text-align: center;
	color: white;
	background-image: url(../../images/underline.svg);
	background-repeat: repeat-x;
	background-size: 6%;
	background-position: 100%;
	display: inline;
	padding-bottom: 5.5rem;
}

p {
	color: white;
	font-family: $pfont;
	font-size: 1.1rem;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 3rem auto;
}

.header-p {
	margin-bottom: 0.5rem;
}

.intro-text {
	text-align: center;
	margin: 2rem auto;
	margin-bottom: 0;
}

#vmap {
	width: 95vw;
	height: 90vh;
	margin: 0 auto;
}

.alert {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: $orange;
	color: white;
	width: 25%;
	text-align: center;
	margin-bottom: 5%;
	padding: 2%;
}

.results {
	display: none;
}

footer {
	text-align: center;
	border-top: 1px solid white;
	margin-top: 100px;

	h6 {
		font-family: $pfont;
		font-size: 0.65rem;
		font-weight: 300;
		letter-spacing: 0.5px;
		color: white;

		a {
			color: white;

			&:hover, &:focus {
				color: $yellow;
			}
		}
	}
}


//form styling starts here
form {
	text-align: center;
	position: relative;
	bottom: 40px;

	select {
	-webkit-appearance: none;
	-moz-appearance: none;
		font-family: $pfont;
		color: white;
		font-weight: 300;
		letter-spacing: 1px;
		font-size: 1.1rem;
		padding: 10px 40px 10px 20px;
		border: 1px solid white;
		background: none;
		border-radius: 0;
		background-image: url('../../images/downarrow.svg');
		background-repeat: no-repeat;
		background-position: 96% 50%;
		background-size: 8%;

		option {
			background: $blue;
		}
	}

	input[type=submit]{
		border: none;
		background: $yellow;
		padding: 15px 30px;
		border-radius: 18px;
		font-family: $pfont;
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		color: white;
		display: block;
		margin: 40px auto;
		transition: 0.2s;

		&:hover {
			background: $orange;
			opacity: 1;
		}
	}
}

.alert, .alert2 {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 100%;
	margin: 0 auto;
	background: $orange;
	font-family: $pfont;
	color: white;
	width: 275px;
	text-align: center;
	margin-bottom: 5%;
	padding: 2%;

	&:after {
		content:'';
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
		border-top: 15px solid transparent;
		border-bottom: 15px solid $orange;
		position: absolute;
		right: 50%;
		top: -50%;
		transform: translate(50%, 0);
	}
}

.alert2 {
	bottom: 200%;
}

//results Section starts here

#cityData {

	width: 100%;

	.countryBox {
		border: 1px solid white;
		display: flex;
		width: 100%;
		height: 340px;
		margin-bottom: 40px;
	}

	.contentBox {
		width: 70%;
		margin-left: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		a {
			text-decoration: none;
		}

		.linkBox {
			margin-bottom: 0.5rem;
		}

		h2 { 
			font-family: $hfont;
			font-size: 2.8rem;
			line-height: 2.8rem;
			text-align: left;
			color: white;
			margin-top: 0;
			background-image: none;
			background-repeat: repeat-x;
			background-size: 25px;
			background-position: 100%;
			display: inline;
			padding-bottom: 3.5rem;
		}

		h2:hover {
		background-image: url(../../images/underline.svg);
		}

		p {
			background: $orange;
			padding: 6px 10px;
			margin: 4px;
			display: inline-block;

			&:first-child {
				background: none;
				text-transform: uppercase;
				letter-spacing: 1px;
				padding: 0;
				margin-bottom: 8px;
			}
		}
	}

	.imgBox {
		width: 340px;
		height: auto;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit:cover;
			position:0 50%;
		}
	}

}

.startOver {
		border: none;
		margin:80px auto 40px;
		text-decoration: none;
		text-align: center;

		a {
			text-decoration: none;
			font-family: $pfont;
			font-weight: 700;
			font-size: 1.2rem;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			color: white;
			background: $yellow;
			padding: 15px 30px;
			border-radius: 18px;
			transition: 0.2s;

		&:hover {
			background: $orange;
			opacity: 1;
		}
	}
}

// this is for the loading animation
.sk-folding-cube {
  margin: 200px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $orange;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

@media (max-width: 740px){

	#vmap{
		width: 100%;
		height: 500px;
	}
		svg {
		width: 100%;
		height: 500px;
	}

	#cityData {
		display:flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		.countryBox{
			flex-direction:column;
			width:100%;
			min-height: 500px;
			// overflow:hidden;
		}
		.imgBox{
			width:100%;
			height:50%;
		}
		.contentBox{
			width:100%;
			height:300px;

		}
	}
	.alert {

		&:after {
			content:'';
			border-right: 15px solid transparent;
			border-left: 15px solid transparent;
			border-top: 15px solid transparent;
			border-bottom: 15px solid $orange;
			position: absolute;
			right: 50%;
			top: -55%;
			transform: translate(50%, 0);
		}
	}

	#cityData {

		.contentBox {
			h2 { 
				font-family: $hfont;
				font-size: 2.8rem;
				line-height: 2.8rem;
				text-align: left;
				color: white;
				margin-top: 0;
				background-image: url('../../images/underline.svg');
				background-repeat: repeat-x;
				background-size: 25px;
				background-position: 100%;
				display: inline;
				padding-bottom: 3.5rem;
			}
		}
	}
}

@media (max-width: 420px){
	#vmap{
		width: 100%;
		height: 300px;
	}
		svg {
		width: 100%;
		height: 300px;
	}

	#cityData {
		.countryBox{
			border:none;
			&:after{
				content:"";
				height: 1px;
				width:33%;
				background:white;
				margin: 0 auto;
				margin-top:29px;
			}
		}
		.contentBox{
			margin-left: 5px;
			padding-right: 8px;
			height: 100vh;
		}
	}
	.alert {

		&:after {
			content:'';
			border-right: 15px solid transparent;
			border-left: 15px solid transparent;
			border-top: 15px solid transparent;
			border-bottom: 15px solid $orange;
			position: absolute;
			right: 50%;
			top: -65%;
			transform: translate(50%, 0);
		}
	}
	form {
		select {
		-webkit-appearance: none;
		-moz-appearance: none;
			font-family: $pfont;
			color: white;
			font-weight: 300;
			letter-spacing: 1px;
			font-size: 1.1rem;
			padding: 10px 15px 10px 10px;
			border: 1px solid white;
			background: none;
			border-radius: 0;
			background-image: url('../../images/downarrow.svg');
			background-repeat: no-repeat;
			background-position: 98% 50%;
			background-size: 8%;
		}
	}
}

