article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #29335C;
}

.wrapper {
  max-width: 900px;
  width: 95%;
  margin: 0 auto;
}

h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 4.6rem;
  line-height: 4.6rem;
  text-align: center;
  color: white;
  background-image: url(../../images/underline.svg);
  background-repeat: repeat-x;
  background-size: 6%;
  background-position: 100%;
  display: inline;
  padding-bottom: 5.5rem;
}

h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.8rem;
  line-height: 2.8rem;
  text-align: left;
  color: white;
  margin-bottom: 1rem;
  margin-top: 0;
}

h2 a:hover {
  background-image: url(../../images/underline.svg);
  background-repeat: repeat-x;
  background-size: 6%;
  background-position: 100%;
  display: inline;
  padding-bottom: 3rem;
}

p {
  color: white;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 3rem auto;
}

.intro-text {
  text-align: center;
  margin: 3rem auto;
}

#vmap {
  width: 95vw;
  height: 90vh;
  margin: 0 auto;
  margin-bottom: 50px;
}

footer {
  text-align: center;
  border-top: 1px solid white;
  margin-top: 100px;
}

footer h6 {
  font-family: "Raleway", "Helvetica", sans-serif;
  font-size: 0.65rem;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: white;
}

footer h6 a {
  color: white;
}

footer h6 a:hover, footer h6 a:focus {
  color: #F3A712;
}

form {
  text-align: center;
}

form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: "Raleway", "Helvetica", sans-serif;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 1.1rem;
  padding: 10px 40px 10px 20px;
  border: 1px solid white;
  background: none;
  border-radius: 0;
  background-image: url("../../images/downarrow.svg");
  background-repeat: no-repeat;
  background-position: 96% 50%;
  background-size: 8%;
}

form input[type=submit] {
  border: none;
  background: #F3A712;
  padding: 15px 30px;
  border-radius: 18px;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  display: block;
  margin: 40px auto;
  transition: 0.2s;
}

form input[type=submit]:hover {
  background: #E4572E;
  opacity: 1;
}

#cityData {
  width: 100%;
}

#cityData .countryBox {
  border: 1px solid white;
  display: flex;
  width: 100%;
  height: 340px;
  margin-bottom: 40px;
}

#cityData .contentBox {
  width: 70%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cityData .contentBox p {
  background: #E4572E;
  padding: 6px 10px;
  margin: 4px;
  display: inline-block;
}

#cityData .imgBox {
  width: 340px;
  height: auto;
  overflow: hidden;
}

#cityData .imgBox img {
  height: 100%;
  object-fit: cover;
  position: 0 50%;
}

.startOver {
  border: none;
  background: #F3A712;
  padding: 15px 30px;
  border-radius: 18px;
  font-family: "Raleway", "Helvetica", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  margin: 40px auto;
  transition: 0.2s;
  text-decoration: none;
  display: block;
}

.startOver:hover {
  background: #E4572E;
  opacity: 1;
}
